name: CI
on: ["push", "pull_request"]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@master

      - name: Setup
        uses: actions/setup-python@v3

      - name: Install Deps
        run: pip install -r requirements.txt

      - name: Run Tests
        run: pytest --cov-report html --cov

      - name: Codecov
        uses: codecov/codecov-action@master
        with:
          verbose: true
